<!-- start custom footer snippets -->

<!-- Default Statcounter code for My Personal Website https://anikem.github.io/
-->
<script type="text/javascript">
var sc_project=12203587;
var sc_invisible=1;
var sc_security="67fbccb9";
var sc_https=1;
var sc_remove_link=1;
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><img class="statcounter"
src="https://c.statcounter.com/12203587/0/67fbccb9/1/" alt="Web
Analytics"></div></noscript>
<!-- End of Statcounter Code -->

<!-- end custom footer snippets -->
