---
layout: single
author_profile: true
classes: wide
---

I blog at: <a class="homepage" target="_blank" href="https://medium.com/@anikembhavi">https://medium.com/@anikembhavi</a>
<br>
&nbsp;
<p>
Here are my blog posts (in reverse chronological order):

<p>

{% include blog_post.html
  image="/assets/images/outer-product-count-sketch.png"
  url="https://medium.com/ai2-blog/the-lure-of-the-outer-product-4addd2e7f95e"
  title="The lure of the outer product"
  subtitle="Bilinear pooling and its approximations for Visual Question Answering"
%}

<p>

{% include blog_post.html
  image="/assets/images/attention-q-i.png"
  url="https://medium.com/ai2-blog/may-i-have-your-attention-please-eb6cfafce938"
  title="May I have your attention please ?"
  subtitle="The attention mechanism and its numerous variants explored in Visual Question Answering"
%}

<p>

{% include blog_post.html
  image="/assets/images/vanilla-vqa-multiple-choice.png"
  url="https://medium.com/ai2-blog/vanilla-vqa-adcaaaa94336"
  title="Vanilla VQA"
  subtitle="An introduction to visual question answering"
%}
