---
layout: single
author_profile: true
classes: wide
---

<htext>Recent Research</htext>

<p>

  {% include paper.html
    image="/assets/images/cordialsync.gif"
    url="https://arxiv.org/pdf/2007.04979"
    title="A Cordial Sync: Going Beyond Marginal Policies for Multi-Agent Embodied Tasks"
    authors="Unnat Jain, Luca Weihs, Eric Kolve, Ali Farhadi, Svetlana Lazebnik, Aniruddha Kembhavi, Alexander Schwing"
    venue="European Conference on Computer Vision (ECCV) 2020 &nbsp;<span class='special'>[Spotlight]</span>"
    pdf="https://arxiv.org/pdf/2007.04979"
    project="https://unnat.github.io/cordial-sync"
  %}

<p>

{% include paper.html
  image="/assets/images/gsr.jpg"
  url="https://arxiv.org/pdf/2003.12058"
  title="Grounded Situation Recognition"
  authors="Sarah Pratt, Mark Yatskar, Luca Weihs, Ali Farhadi, Aniruddha Kembhavi"
  venue="European Conference on Computer Vision (ECCV) 2020 &nbsp;<span class='special'>[Spotlight]</span>"
  pdf="https://arxiv.org/pdf/2003.12058"
  project="https://prior.allenai.org/projects/gsr"
%}

<p>

{% include paper.html
  image="/assets/images/learningobjects.jpg"
  url="https://arxiv.org/pdf/2006.09306"
  title="Learning About Objects by Learning to Interact with Them"
  authors="Martin Lohmann, Jordi Salvador, Aniruddha Kembhavi, Roozbeh Mottaghi"
  venue="Arxiv"
  pdf="https://arxiv.org/pdf/2006.09306"
%}

<p>

{% include paper.html
  image="/assets/images/supsup.jpg"
  url="https://arxiv.org/pdf/2006.14769"
  title="Supermasks in Superposition"
  authors="Mitchell Wortsman, Vivek Ramanujan, Rosanne Liu, Aniruddha Kembhavi, Mohammad Rastegari, Jason Yosinski, Ali Farhadi"
  venue="Arxiv"
  pdf="https://arxiv.org/pdf/2006.14769"
%}

<p>

{% include paper.html
  image="/assets/images/ned.jpg"
  url="https://arxiv.org/pdf/2007.02519"
  title="In the Wild: From ML Models to Pragmatic ML Systems"
  authors="Matthew Wallingford, Aditya Kusupati, Keivan Alizadeh-Vahid, Aaron Walsman, Aniruddha Kembhavi, Ali Farhadi"
  venue="Arxiv"
  pdf="https://arxiv.org/pdf/2007.02519"
%}

<p>

{% include paper.html
  image="/assets/images/objectnav.jpg"
  url="https://arxiv.org/pdf/2006.13171"
  title="ObjectNav Revisited: On Evaluation of Embodied Agents Navigating to Objects"
  authors="Dhruv Batra, Aaron Gokaslan, Ani Kembhavi, Oleksandr Maksymets, Roozbeh Mottaghi, Manolis Savva, Alexander Toshev, Erik Wijmans"
  venue="Arxiv"
  pdf="https://arxiv.org/pdf/2006.13171"
%}

<p>

{% include paper.html
  image="/assets/images/robothor.jpg"
  url="https://arxiv.org/pdf/2004.06799.pdf"
  title="RoboTHOR: An Open Simulation-to-Real Embodied AI Platform"
  authors="Matt Deitke*, Winson Han*, Alvaro Herrasti*, Aniruddha Kembhavi*, Eric Kolve*, Roozbeh Mottaghi*, Jordi Salvador*, Dustin Schwenk*, Eli VanderBilt*, Matthew Wallingford*, Luca Weihs*, Mark Yatskar*, Ali Farhadi"
  venue="Computer Vision and Pattern Recognition (CVPR) 2020"
  pdf="https://arxiv.org/pdf/2004.06799.pdf"
  project="https://ai2thor.allenai.org/robothor/"
%}

<p>

{% include paper.html
  image="/assets/images/hidden.jpg"
  url="https://arxiv.org/pdf/1911.13299.pdf"
  title="What’s Hidden in a Randomly Weighted Neural Network?"
  authors="Vivek Ramanujan, Mitchell Wortsman, Aniruddha Kembhavi, Ali Farhadi, Mohammad Rastegari"
  venue="Computer Vision and Pattern Recognition (CVPR) 2020"
  pdf="https://arxiv.org/pdf/1911.13299.pdf"
%}

<p>

{% include paper.html
  image="/assets/images/hideseek.jpg"
  url="https://arxiv.org/pdf/1912.08195v2.pdf"
  title="Artificial Agents Learn Flexible Visual Representations by Playing a Hiding Game"
  authors="Luca Weihs, Aniruddha Kembhavi, Winson Han, Alvaro Herrasti, Eric Kolve, Dustin Schwenk, Roozbeh Mottaghi, & Ali Farhadi"
  venue="Arxiv"
  pdf="https://arxiv.org/pdf/1912.08195v2.pdf"
%}

<p>

{% include paper.html
  image="/assets/images/twobody.jpg"
  url="https://arxiv.org/abs/1904.05879"
  title="Two Body Problem: Collaborative Visual Task Completion"
  authors="Unnat Jain, Luca Weihs, Eric Kolve, Mohammad Rastegari, Svetlana Lazebnik, Ali Farhadi, Alexander Schwing, Aniruddha Kembhavi"
  venue="Computer Vision and Pattern Recognition (CVPR) 2019 &nbsp;<span class='special'>[Oral]</span>"
  pdf="https://arxiv.org/pdf/1904.05879.pdf"
  video="https://www.youtube.com/watch?v=VWqawSuH-eU"
  project="https://prior.allenai.org/projects/two-body-problem"
%}

<p>

{% include paper.html
  image="/assets/images/elastic.jpg"
  url="https://arxiv.org/abs/1812.05262"
  title="ELASTIC: Improving CNNs with Instance Specific Scaling Policies"
  authors="Huiyu Wang, Aniruddha Kembhavi, Ali Farhadi, Alan Yuille, Mohammad Rastegari"
  venue="Computer Vision and Pattern Recognition (CVPR) 2019 &nbsp;<span class='special'>[Oral]</span>"
  pdf="https://arxiv.org/pdf/1812.05262.pdf"
  project="https://prior.allenai.org/projects/elastic"
%}

<p>

  {% include paper.html
    image="/assets/images/iconary.jpg"
    url="https://iconary.allenai.org/"
    title="Iconary: An AI powered drawing and guessing game"
    authors="Iconary showcases an AI system capable of playing a Pictionary-style drawing and guessing game together with a human partner.
      Team up with the AllenAI artificial intelligence to either draw or guess a set of unique phrases."
    specialtext="Play with AllenAI"
    specialurl="https://iconary.allenai.org/"
  %}

<p>

{% include paper.html
  image="/assets/images/flintstones.jpg"
  url="https://arxiv.org/abs/1804.03608"
  title="Imagine This! Scripts to Compositions to Videos"
  authors="Tanmay Gupta, Dustin Schwenk, Ali Farhadi, Derek Hoiem, Aniruddha Kembhavi"
  venue="European Conference on Computer Vision (ECCV) 2018"
  pdf="https://arxiv.org/abs/1804.03608"
  video="https://www.youtube.com/watch?v=688Vv86n0z8"
  project="https://prior.allenai.org/projects/craft"
%}

<p>

{% include paper.html
  image="/assets/images/iqa.jpg"
  url="https://arxiv.org/abs/1712.03316"
  title="IQA: Visual Question Answering in Interactive Environments"
  authors="Daniel Gordon, Aniruddha Kembhavi, Mohammad Rastegari, Joseph Redmon, Dieter Fox, Ali Farhadi"
  venue="Computer Vision and Pattern Recognition (CVPR) 2018"
  pdf="https://arxiv.org/abs/1712.03316"
  video="https://www.youtube.com/watch?v=pXd3C-1jr98"
  project="https://prior.allenai.org/projects/iqa"
%}

<p>

{% include paper.html
  image="/assets/images/matching.jpg"
  url="https://arxiv.org/abs/1712.01867"
  title="Structured Set Matching Networks for One-Shot Part Labeling"
  authors="Jonghyun Choi, Jayant Krishnamurthy, Aniruddha Kembhavi, Ali Farhadi"
  venue="Computer Vision and Pattern Recognition (CVPR) 2018 &nbsp;<span class='special'>[Spotlight]</span>"
  pdf="https://arxiv.org/abs/1712.01867"
  project="https://prior.allenai.org/projects/matching-part-label"
%}

<p>

{% include paper.html
  image="/assets/images/gvqa.jpg"
  url="https://arxiv.org/abs/1712.00377"
  title="Don't Just Assume; Look and Answer: Overcoming Priors for Visual Question Answering"
  authors="Aishwarya Agrawal, Dhruv Batra, Devi Parikh, Aniruddha Kembhavi"
  venue="Computer Vision and Pattern Recognition (CVPR) 2018"
  pdf="https://arxiv.org/abs/1712.00377"
%}

<p>

{% include paper.html
  image="/assets/images/tqa.jpg"
  url="http://ai2-website.s3.amazonaws.com/publications/CVPR17_TQA.pdf"
  title="Are You Smarter Than A Sixth Grader? Textbook Question Answering for Multimodal Machine Comprehension"
  authors="Aniruddha Kembhavi, Minjoon Seo, Dustin Schwenk, Jonghyun Choi, Ali Farhadi, Hannaneh Hajishirzi"
  venue="Computer Vision and Pattern Recognition (CVPR) 2017 &nbsp;<span class='special'>[Spotlight]<span>"
  pdf="http://ai2-website.s3.amazonaws.com/publications/CVPR17_TQA.pdf"
  project="http://prior.allenai.org/projects/tqa/"
%}

<p>

{% include paper.html
  image="/assets/images/bidaf.jpg"
  url="https://arxiv.org/abs/1611.01603"
  title="Bidirectional Attention Flow for Machine Comprehension"
  authors="Minjoon Seo, Aniruddha Kembhavi, Ali Farhadi, Hannaneh Hajishirzi"
  venue="International Conference on Learning Representations (ICLR) 2016"
  pdf="https://arxiv.org/abs/1611.01603"
  project="https://prior.allenai.org/projects/bidaf/"
  code="https://github.com/allenai/bi-att-flow"
%}

<p>

{% include paper.html
  image="/assets/images/diagrams.jpg"
  url="https://arxiv.org/abs/1603.07396"
  title="A diagram is worth a dozen images"
  authors="Aniruddha Kembhavi, Mike Salvato, Eric Kolve, Minjoon Seo, Hannaneh Hajishirzi, Ali Farhadi"
  venue="European Conference on Computer Vision (ECCV) 2016"
  pdf="https://arxiv.org/abs/1603.07396"
  project="http://prior.allenai.org/projects/diagram-understanding"
%}

<p>

{% include paper.html
  image="/assets/images/pparsing.jpg"
  url="https://arxiv.org/abs/1606.07046"
  title="Semantic Parsing to Probabilistic Programs for Situated Question Answering"
  authors="Jayant Krishnamurthy, Oyvind Tafjord, Aniruddha Kembhavi"
  venue="Conference on Empirical Methods in Natural Language Processing (EMNLP) 2016 &nbsp;<span class='special'>[Oral]</span>"
  pdf="https://arxiv.org/abs/1606.07046"
  code="https://github.com/jayantk/jklol/tree/master/src/com/jayantkrish/jklol/experiments/p3"
%}

<br><p>
<htext>Research from a long time ago ...</htext>

<p>
{% include paper.html
  image="/assets/images/vehicles.jpg"
  url="papers/Kembhavi_VehicleDetection_PAMI2011.pdf"
  title="Vehicle detection using partial least squares"
  authors="Aniruddha Kembhavi, David Harwood, Larry S Davis"
  venue="IEEE Transactions on Pattern Analysis and Machine Intelligence (PAMI) 2011"
  pdf="papers/Kembhavi_VehicleDetection_PAMI2011.pdf"
%}

<p>

{% include paper.html
  image="/assets/images/mln.jpg"
  url="papers/Kembhavi_Scene_Understanding_ECCV2010.pdf"
  title="Why did the person cross the road (there)? scene understanding using probabilistic logic models and common sense reasoning"
  authors="Aniruddha Kembhavi, Tom Yeh, Larry S Davis"
  venue="European Conference on Computer Vision (ECCV) 2010"
  pdf="papers/Kembhavi_Scene_Understanding_ECCV2010.pdf"
%}

<p>

{% include paper.html
  image="/assets/images/human_object_interactions.jpg"
  url="papers/HumanObjectInteractions_PAMI2009.pdf"
  title="Observing human-object interactions: Using spatial and functional compatibility for recognition"
  authors="Abhinav Gupta, Aniruddha Kembhavi, Larry S. Davis"
  venue="IEEE Transactions on Pattern Analysis and Machine Intelligence (PAMI) 2009"
  pdf="papers/HumanObjectInteractions_PAMI2009.pdf"
%}

<p>

{% include paper.html
  image="/assets/images/human_detection.jpg"
  url="http://www.umiacs.umd.edu/~lsd/papers/PLS-ICCV09.pdf"
  title="Human detection using partial least squares analysis"
  authors="William Robson Schwartz, Aniruddha Kembhavi, Larry S. Davis"
  venue="International Conference on Computer Vision (ICCV) 2009 &nbsp;<span class='special'>[Oral]</span>"
  pdf="http://www.umiacs.umd.edu/~lsd/papers/PLS-ICCV09.pdf"
%}

<p>

{% include paper.html
  image="/assets/images/imkl.jpg"
  url="http://www.umiacs.umd.edu/~lsd/papers/iccv09imkl_cameraReady.pdf"
  title="Scene it or not? incremental multiple kernel learning for object detection"
  authors="Aniruddha Kembhavi, Behjat Siddiquie, Roland Miezianko, Scott McCloskey, Larry S. Davis"
  venue="International Conference on Computer Vision (ICCV) 2009"
  pdf="http://www.umiacs.umd.edu/~lsd/papers/iccv09imkl_cameraReady.pdf"
%}

<p>

{% include paper.html
  image="/assets/images/tracking.jpg"
  url="https://hal.inria.fr/file/index/docid/325765/filename/VS2008-Poster-f.pdf"
  title="Resource Allocation for Tracking Multiple Targets Using Particle Filters"
  authors="Aniruddha Kembhavi, William Robson Schwartz, Larry S. Davis"
  venue="The Eighth International Workshop on Visual Surveillance held in conjunction with ECCV 2008"
  pdf="https://hal.inria.fr/file/index/docid/325765/filename/VS2008-Poster-f.pdf"
%}

<p>

{% include paper.html
  image="/assets/images/bowerbird.jpg"
  url="papers/bowerbird.pdf"
  title="Tracking Down Under: Following the Satin Bowerbird"
  authors="Aniruddha Kembhavi, Ryan Farrell, Yuancheng Luo, David Jacobs, Ramani Duraiswami, Larry S. Davis"
  venue="Workshop on Applications of Computer Vision (WACV) 2008 &nbsp;<span class='special'>[Oral]</span>"
  pdf="papers/bowerbird.pdf"
%}
