
pubtitle {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

pubauthors {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

pubvenue {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: black;
}

span.special { color:#FF5050; }

pubinfo {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Proza Libre', sans-serif;
  font-style: normal;
  color: #333333;
}

ptitle {
  font-size: 42px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}

stitle {
  font-size: 30px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}

ptext {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}

scholar {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

it {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
}

email {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Source Code Pro', sans-serif;
}

newstext {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: black;
}

table.base {
  background-color: white;
  border: 0px solid black;
  border-collapse: collapse;
  width: 1000
}

table.news {
  background-color: #ffffff;
  border: 0px solid black;
  border-collapse: separate;
  border-spacing: 2pt;
  width: 1000
}

.news tr {
  height: 30;
}

.news td {
  vertical-align: center;
  text-align: left;
  padding: 10px;
}

.news td:first-child {
  width: 100;
  vertical-align: center;
  text-align: center;
}

.news tr:nth-child(odd) {background-color: #c6edff;}
.news tr:nth-child(even) {background-color: #eeeeee;}

table.research {
  background-color: white;
  border: 0px solid black;
  border-collapse: collapse;
  width: 1000
}

table.research td {
    padding-top: 0em;
    padding-bottom: 2.5em;
}

a:link {
  text-decoration:  none;
  color: #4285F4;
}

a:visited {
  text-decoration:  none;
  color: #4285F4;
}

a:hover {
  text-decoration:  none;
  color: #4285F4;
}

a:active {
  text-decoration:  none;
  color: #4285F4;
}

td.gap {
  width: 20;
}
