/* ==========================================================================
   Added by Ani
   ========================================================================== */

pubtitle {
 font-size: 18px;
 font-weight: 600;
 font-family: 'Roboto', sans-serif;
}

pubauthors {
 font-size: 16px;
 font-weight: 300;
 font-family: 'Roboto', sans-serif;
 color: #555555;
}

pubvenue {
 font-size: 16px;
 font-weight: 300;
 font-family: 'Proza Libre', sans-serif;
 font-style: normal;
 color: black;
}

pubtitlepost {
 font-size: 18px;
 font-weight: 600;
 font-family: 'Proza Libre', sans-serif;
}

pubauthorspost {
 font-size: 16px;
 font-weight: 300;
 font-family: 'Proza Libre', sans-serif;
 color: #555555;
}

pubvenuepost {
 font-size: 16px;
 font-weight: 300;
 font-family: 'Proza Libre', sans-serif;
 font-style: normal;
 color: black;
}

span.special { color:#FF5050; }

pubinfo {
 font-size: 16px;
 font-weight: 300;
 font-family: 'Proza Libre', sans-serif;
 font-style: normal;
 color: #333333;
}

ptext {
font-size: 18px;
font-weight: 400;
font-family: $roboto;
color: #000000;
}

htext {
font-size: 24px;
font-weight: 400;
font-family: $roboto;
color: #000000;
}

a.homepage:link {
 text-decoration:  none;
 color: #4285F4;
}

a.homepage:visited {
 text-decoration:  none;
 color: #4285F4;
}

a.homepage:hover {
 text-decoration:  none;
 color: #4285F4;
}

a.homepage:active {
 text-decoration:  none;
 color: #4285F4;
}

a.paperpost:link {
 text-decoration:  none;
 color: #1F618D;
}

a.paperpost:visited {
 text-decoration:  none;
 color: #1F618D;
}

a.paperpost:hover {
 text-decoration:  none;
 color: #1F618D;
}

a.paperpost:active {
 text-decoration:  none;
 color: #1F618D;
}

a.table:link {
 text-decoration:  none;
 color: #F34A55;
}

a.table:visited {
 text-decoration:  none;
 color: #F34A55;
}

a.table:hover {
 text-decoration:  none;
 color: #F34A55;
}

a.table:active {
 text-decoration:  none;
 color: #F34A55;
}

a.papertitle:link {
 text-decoration:  none;
 color: #00AFB4;
}

a.papertitle:visited {
 text-decoration:  none;
 color: #00AFB4;
}

a.papertitle:hover {
 text-decoration:  none;
 color: #00AFB4;
}

a.papertitle:active {
 text-decoration:  none;
 color: #00AFB4;
}

table.base {
 background-color: white;
 border: 0px solid black;
 border-collapse: collapse;
 width: 1000
}

newstext {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: black;
}

table.news {
 background-color: #ffffff;
 border: 0px solid white;
 border-collapse: separate;
 border-spacing: 2pt;
 width: 1000
}

.news tr {
 height: 30;
}

.news td {
 vertical-align: center;
 text-align: left;
 padding: 10px;
}

.news td:first-child {
 width: 100;
 vertical-align: center;
 text-align: center;
}

.news tr:nth-child(odd) {background-color: #c6edff;}
.news tr:nth-child(even) {background-color: #eeeeee;}

table.research {
  border: 0px solid white;
  border-collapse: collapse;
  width: 600
}

.research td {
    padding-top: 0em;
    padding-bottom: 2.5em;
    vertical-align: top;
}

table.research td {
    padding-left: 0.75em;
    padding-top: 1.75em;
    padding-bottom: 0.75em;
    box-shadow: 6px 6px 8px #dddddd;
}

td.gap {
  width: 20;
}

div.paper {
  background-color: #efefef;
  padding-left: 0.75em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  box-shadow: 4px 4px 2px #dddddd;
}

div.paper-post {
  background-color: #EFFCFF;
  padding-left: 0.75em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  box-shadow: 4px 4px 2px #dddddd;
}

div.paperimage {
  float: left;
  width: 220px;
  vertical-align: top;
}

div.papertext {
  line-height: 1.0;
  margin-left: 240px;
}

div.papertext-post {
  line-height: 1.0;
}

p.papertext { margin: 10px 0;}
p.papertext-post { margin: 10px 0;}

/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-top: 1em;
  margin-bottom: 2em;

  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width;
  }
}

.archive__item {
  position: relative;
}

.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  font-size: $type-size-5;
  color: $muted-text-color;
  border-bottom: 1px solid $border-color;

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive__item-title {
  margin-bottom: 0.25em;
  font-family: $roboto;
  line-height: initial;
  overflow: hidden;
  text-overflow: ellipsis;

  a[rel="permalink"]::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  a:link {
   text-decoration:  none;
   color: #4285F4;
  }

  a:visited {
   text-decoration:  none;
   color: #4285F4;
  }

  a:hover {
   text-decoration:  none;
   color: #4285F4;
  }

  a:active {
   text-decoration:  none;
   color: #4285F4;
  }
}

/* remove border*/
.page__content {
  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }

  h1 {
    font-family: $roboto;
    font-size: 28px;
    color: #4A666D;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-6;

  & + p {
    text-indent: 0;
  }

  a {
    position: relative;
  }
}

.archive__item-teaser {
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.archive__item-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: $caption-font-family;
  font-size: $type-size-8;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 0 0;

  @include breakpoint($large) {
    padding: 5px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

/*
   List view
   ========================================================================== */

.list__item {
  .page__meta {
    margin: 0 0 4px;
    font-size: 0.6em;
  }
}

/*
   Grid view
   ========================================================================== */

.archive {
  .grid__wrapper {
    /* extend grid elements to the right */

    @include breakpoint($large) {
      margin-right: -1 * $right-sidebar-width-narrow;
    }

    @include breakpoint($x-large) {
      margin-right: -1 * $right-sidebar-width;
    }
  }
}

.grid__item {
  margin-bottom: 2em;

  @include breakpoint($small) {
    float: left;
    width: span(5 of 10);

    &:nth-child(2n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(2n + 2) {
      clear: none;
      margin-left: gutter(of 10);
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* override margin*/
    margin-right: 0; /* override margin*/
    width: span(3 of 12);

    &:nth-child(2n + 1) {
      clear: none;
    }

    &:nth-child(4n + 1) {
      clear: both;
    }

    &:nth-child(4n + 2) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

    &:nth-child(4n + 3) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

    &:nth-child(4n + 4) {
      clear: none;
      margin-left: gutter(1 of 12);
    }
  }

  .page__meta {
    margin: 0 0 4px;
    font-size: 0.6em;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    display: none;

    @include breakpoint($medium) {
      display: block;
      font-size: $type-size-6;
    }
  }

  .archive__item-teaser {
    @include breakpoint($small) {
      max-height: 200px;
    }

    @include breakpoint($medium) {
      max-height: 120px;
    }
  }
}

/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;

  .archive__item-title {
    margin-bottom: 0;
  }
}

.feature__item {
  position: relative;
  margin-bottom: 2em;
  font-size: 1.125em;

  @include breakpoint($small) {
    float: left;
    margin-bottom: 0;
    width: span(4 of 12);

    &:nth-child(3n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(3n + 2) {
      clear: none;
      margin-left: gutter(of 12);
    }

    &:nth-child(3n + 3) {
      clear: none;
      margin-left: gutter(of 12);
    }

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  .archive__item-body {
    padding-left: gutter(1 of 12);
    padding-right: gutter(1 of 12);
  }

  a.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &--left {
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;

    .archive__item {
      float: left;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    a.btn::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        float: left;
        width: span(5 of 12);
      }

      .archive__item-body {
        float: right;
        padding-left: gutter(0.5 of 12);
        padding-right: gutter(1 of 12);
        width: span(7 of 12);
      }
    }
  }

  &--right {
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;

    .archive__item {
      float: left;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    a.btn::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        float: right;
        width: span(5 of 12);
      }

      .archive__item-body {
        float: left;
        width: span(7 of 12);
        padding-left: gutter(0.5 of 12);
        padding-right: gutter(1 of 12);
      }
    }
  }

  &--center {
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;

    .archive__item {
      float: left;
      width: 100%;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    a.btn::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}

/* Place inside an archive layout */

.archive {
  .feature__wrapper {
    .archive__item-title {
      margin-top: 0.25em;
      font-size: 1em;
    }
  }

  .feature__item,
  .feature__item--left,
  .feature__item--center,
  .feature__item--right {
    font-size: 1em;
  }
}

/*
   Wide Pages
   ========================================================================== */

  .wide {
  .archive {
    @include breakpoint($large) {
      padding-right: 0;
    }

    @include breakpoint($x-large) {
      padding-right: 0;
    }
  }
}
